/* ID Styles */

#header {
	padding-top: 5%;
}

#navigation-bar {
	margin: 0;
	background-color: #f0f4f4;
	padding-bottom: 1%;
	padding-top: 1%;
	border-bottom: 1px solid #E4F1EE;
}

#intro {
	margin: auto;
	width: 75%;
	font-size: 1.3em;
}

#picture-of-me {
	display: inline-block;
	height: 20em;
	width: auto;
	margin: 1em;
	border: 2px solid #FAE7F7;
	border-radius: 50%;
}

#dbc-pic {
	height: 20em;
	width: auto;
	margin: 1em;
	border: 1px solid #D3F4DC;
	border-radius: 50%;
}

/* Type Selectors */

body {
	text-align: center;
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.6em;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	color: black;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2em;
}

a > img {
	display:inline;
	height:3em;
	width:3em;
}

ul {
	list-style-type: none;
}

li {

}

/* Class Selectors */

.main {
	background-color: #f0f4f4;
	display: inline-block;
	width: 75%;
	border: 2px solid #eee;
	padding-bottom: 25px;
}

.current {
	text-decoration: underline;
}

.nav-item {
	color: black;
	padding-left: 16px;
	text-decoration: none;
	display: inline-block;
}

.skills {
	list-style-type: none;
}

.wishlist {
	list-style-type: none;
}
