a {
	text-decoration: none;
	color: black;
	font-size: 1.3em;
}

#main {
	background-color: white;
	display: inline-block;
	width: 75%;
	box-shadow: 10px 10px 5px #E4F1EE;
}

.current {
	text-decoration: underline;
}

#picture-of-me {
	display: inline-block;
	height: 20em;
	width: auto;
	margin: 1em;
	border: 1px solid pink;
	border-radius: 50%;
}

#dbc-pic {
	height: 20em;
	width: auto;
	margin: 1em;
	border: 1px solid pink;
	border-radius: 50%;
}

#header {
	padding-top: 5%;
}

#navigation-bar {
	margin: auto;
	width: 50%;
	padding-bottom: 8%;
}

.nav-item {
	float: left;
	color: black;
	padding: 16px;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

body {
	text-align: center;
	background-color: #E4FDF5;
	font-family: 'Source Sans Pro', sans-serif;
}

#intro {
	margin: auto;
	width: 75%;
	font-size: 1.3em;
}

#content {
	padding-right: 20%;
	padding-left: 20%;
	padding-bottom: 2%;
}

.skills {
	list-style-type: none;
}

.wishlist {
	list-style-type: none;
}

hr {
	height: 1px;
  border: 0;
  border-top: 1px solid #E8DFE8;
}

a > img {
	display:inline;
	height:3em;
	width:3em;
}
