/* ID Styles */

#header {
	padding-top: 5%;
}

#navigation-bar {
	margin: 0;
	width: 100%;
	background-color: #ECECEC;
	padding-bottom: 1%;
	padding-top: 1%;
	border-bottom: 2px solid #10AAF7;
}

#intro {
	margin: auto;
	width: 75%;
	font-size: 1.3em;
}

#picture-of-me {
	height: 20em;
	width: auto;
	margin: 1em;
	border: 2px solid #FAE7F7;
	border-radius: 50%;
}

#dbc-pic {
	height: 20em;
	width: auto;
	margin: 1em;
	border: 1px solid #D3F4DC;
	border-radius: 50%;
}

/* Type Selectors */

body {
	text-align: center;
	background-image: url("../../imgs/stardust.png");
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.6em;
	letter-spacing: 1px;
}

h1 {
	color: white;
}

nav a {
	text-decoration: none;
	color: black;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2em;
}

a > img {
	display:inline;
	height:3em;
	width:3em;
}

ul {
	list-style-type: none;
}

li {

}

/* Class Selectors */

.main {
	background-color: #ECECEC;
	display: inline-block;
	width: 75%;
	border: 2px solid #E1E1E1;
	padding: 25px;
}

.current {
	text-decoration: underline;
}

.nav-item {
	color: black;
	padding-left: 16px;
	text-decoration: none;
	display: inline-block;
}

.skills {
	list-style-type: none;
}

.heading {
	font-size: 1.5em
}

.contact {
	color: white;
	font-size: 26px;
}

.external-link {
	color: #7FA890;
	text-decoration: none;
}

a:hover {
	color: #DEB9DE;
}

.external-link:hover {
	color: #DEB9DE;
}





/*     Media queries----------- */

@media (max-width: 1024px) {
	#dbc-pic {
		height: 10em;
		width: auto;
		margin: 0;
	}

	#picture-of-me {
		height: 10em;
		width: auto;
		margin: 0;
	}
}
